@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light dark;
    box-sizing: border-box;
  }

  body {
    @apply bg-slate-100 dark:bg-slate-950 text-slate-950 dark:text-slate-50 font-sans antialiased;
  }

  #__nuxt {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 100% auto;
  }
}

@layer utilities {
  button[role="tab"][aria-selected="true"] {
    @apply border-slate-900 dark:border-slate-100;
  }
  .pill {
    @apply bg-slate-800/50;
  }
  .pill[aria-current="true"] {
    @apply bg-slate-200/80;
  }
}
