@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light dark;
    box-sizing: border-box;
  }

  body {
    @apply bg-slate-100 dark:bg-slate-950 text-slate-950 dark:text-slate-50 font-sans antialiased;
  }

  #__nuxt {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 100% auto;
  }
}
