@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light dark;
    box-sizing: border-box;
  }

  body {
    @apply bg-slate-100 font-sans text-slate-950 antialiased dark:bg-slate-950 dark:text-slate-50;
  }

  #__nuxt {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 100vh auto;
  }
  @supports (height: 100svh) {
    #__nuxt {
      grid-template-rows: 100svh auto;
    }
  }
}
